#names-container {
    list-style-type: none;
    overflow-y: scroll;
    max-height: 70%;
  }
  #names-container li {
    margin: 5px 0;
    padding: 10px;
    background-color: #83a5f3;
    border-radius: 5px;
  }
  .remove-button {
    float: right;
    background-color: #e5385d;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
  }
 #name-input {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  #add-button {
    background-color: #537FE7;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
  }
