<head>
  <title>TravelBuddy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../styles/style.css" />
  <script src="../scripts/form.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <script>
    app=angular.module('myApp',[]);
    app.controller('contactCtrl',function($scope){
      //
    });
  </script>
</head>

<body ng-app="myApp" ng-controller="contactCtrl">
  <div class="header-container">
    <div style="display: inline-block">
      <a class="logo" href="/homepage">
        <h1><em>Travel Buddy</em></h1>
      </a>
    </div>
  </div>
  <div class="menu" style="padding-bottom: 100px">
    <table cellpadding="10px" cellspacing="10px">
      <tr>
        <th colspan="2">
          <h1>Contact US</h1>
          <br />
        </th>
      </tr>
    </table>
    <div class="forms" style="height: 20%">
      <form name="contactForm" action="/submitgrievance" method="post">
          <label>Email:</label>
          <input type="email" name="email" ng-model="email" required><br>
          <label>Grievance:</label>
          <textarea name="grievance" ng-model="grievance" required></textarea><br><br>
          <button class="buttons" type="submit" ng-disabled="contactForm.email.$invalid || contactForm.grievance.$invalid">Submit</button>
          <button class="buttons" type="reset">Reset</button>
      </form>
      <br><br>
      
    </div>
  </div>
</body>
