<head>
    <title>TravelBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/toggle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var myApp = angular.module('myApp', []);
        myApp.run(function($rootScope, $http, $window) {
            $http.get('/checksession').then(function(response) {
                if (!response.data) {
                    $window.location.href = '/login';
                }
            });
        });
        myApp.controller("myCtrl", function ($scope, $http,$window) {
            $scope.isLoggedIn=false;
            $http.get('/checksession')
            .then(function(response) {
                if (response.data) {
                $scope.isLoggedIn = true;
                } else {
                $scope.isLoggedIn = false;
                }
            });
        
            $scope.logout = function() {
            $http.get('/logout')
                .then(function(response) {
                $scope.isLoggedIn = false;
                });
            }
            $scope.view = 'grid';
            $http.get('/getFriendRideDetails')
          .then(function(response) {
            $scope.items = response.data;
          })
          .catch(function(error) {
            console.log(error);
          });
            $scope.toggleView = function() {
                $scope.view = $scope.view === 'list' ? 'grid' : 'list';
            };

            $scope.submit_confirm=function(id){
                $http.post('/confirm_menu_ride', {
                'rideId': id
              })
              .then(function(response) {
                console.log("Entered into the database successfully");
                $window.location.href = '/confirmation'; // Redirect to the confirmation page
              })
              .catch(function(error) {
                console.log('Error:', error);
              });
            };
        });
    </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
<div class="header-container" style="display: flex;">
    <div style="flex:22">
        <a class="logo" href="/homepage">
            <h1 ><em>Travel Buddy</em></h1>
        </a>
    </div>
    <div class="login_icon_home" style="flex: 2">
        <a ng-show="isLoggedIn" ng-click="logout()" href="/logout"><img src="../imgs/login_icon.png" class="button-img" /></a>
        <a ng-hide="isLoggedIn" href="/login"><img src="../imgs/login_icon.png" class="button-img" /></a>
      </div>
</div>
    <div class="menu">
        <table cellpadding="10px" cellspacing="10px">
            
            <tr>
                <th colspan="2">
                    <h1>Friends Rides</h1><br>
                </th>
            </tr>
            <tr>
                <th >
                    <h2><a href="/modify_friends_list">Modify Friends List</a></h2>
                </th>
            </tr>
        </table>
        <div>
            <button ng-click="toggleView()" class="buttons">{{ view === 'list' ? 'Grid View' : 'List View' }}</button>
    
            <div ng-if="view === 'list'" style="padding-left: 15%;">
                <ul>
                <li ng-repeat="item in items">
                    <div style="width:80%; border: 3px solid black; padding: 20px; margin-bottom: 10px;">
                        {{item.email+'       '}}
                        {{item.source+'   &#10145   '+item.destination}}<br>
                        {{item.date}}<button class="buttons" ng-click="submit_confirm(item._id)">confirm ride</button>
                    </div>
                </li>
                </ul>
            </div>
    
            <div ng-if="view === 'grid'" style="overflow: auto; padding-left:80px;">
                <div ng-repeat="item in items" style="width: 25%; float:left; padding:20px; border: 2px solid black; margin: 20px;">
                    {{item.email}}<br>
                    {{item.source+'   &#10145   '+item.destination}}<br>
                    {{item.date}}<br><br> 
                    <button class="buttons" ng-click="submit_confirm(item._id)">confirm ride</button>
                </div>
            </div>
            {{src+dest+date}}
        </div>
              
    
    </div>

</body>